---
import Layout from "../layouts/Layout.astro";
import Result from "../components/Result.astro";
import Form from "../components/Form.astro";
---

<Layout>
  <main class="max-w-5xl mx-auto px-4 py-16 h-screen space-y-4">
    <h1 class="text-3xl font-bold text-center">Express Playground Router</h1>
    <Form />
    <Result />
  </main>

  <script>
    window.addEventListener("load", async () => {
      const $version = document.querySelector("#version");
      const $regexpDisplay = document.querySelector("#regexp-display");
      const $route = document.querySelector("#route");
      const $path = document.querySelector("#path");
      const $keysDisplay = document.querySelector("#keys-display");
      let keys: object[] = [];

      let pathToRegexp: { default: (arg0: any) => any };

      // @ts-ignore
      pathToRegexp = await import("path-to-regexp-0-1").then(
        (module: any) => module
      );

      let version = "0.1.x";

      const versions = {
        // @ts-ignore
        "0.1.x": import("path-to-regexp-0-1"),
        "1.x": import("path-to-regexp-1"),
        "2.x": import("path-to-regexp-2"),
        "3.x": import("path-to-regexp-3"),
        "4.x": import("path-to-regexp-4"),
        "5.x": import("path-to-regexp-5"),
        "6.x": import("path-to-regexp-6"),
        "7.x": import("path-to-regexp-7"),
        "8.x": import("path-to-regexp-8"),
      };

      const updateRegex = (input: string) => {
        if ($regexpDisplay) {
          // @ts-ignore
          $regexpDisplay.innerText = input;
        }
      };

      if ($version) {
        $version.addEventListener("change", (e) => {
          // @ts-ignore
          versions[e.target.value].then((module: any) => {
            pathToRegexp = module;
            // @ts-ignore
            version = e.target.value;

            update();
          });
        });
      }

      if ($route) {
        $route.addEventListener("input", update);
      }

      if ($path) {
        $path.addEventListener("input", update);
      }

      function update() {
        // @ts-ignore
        const routeValue = route.value;
        if (
          version === "0.1.x" ||
          version === "2.x" ||
          version === "3.x" ||
          version === "1.x"
        ) {
          keys = [];
          // @ts-ignore
          const result = pathToRegexp.default(routeValue, keys);
          updateRegex(result);
        } else if (version !== "8.x") {
          const regexp = pathToRegexp;
          keys = [];

          // @ts-ignore
          updateRegex(regexp.pathToRegexp(routeValue, keys));
        }

        if ($keysDisplay) {
          // @ts-ignore
          $keysDisplay.innerHTML = `<ol>${keys.map((key, i) => `<li>${i + 1}. ${key.name}</li>`).join("")}</ol>`;
        }
      }
    });
  </script>
</Layout>
