---
import Layout from '../layouts/Layout.astro';
import Result from '../components/Result.astro';
import Form from '../components/Form.astro';
---

<Layout>
	<main class="max-w-5xl mx-auto px-4 py-16 h-screen space-y-4">
		<h1 class="text-3xl font-bold text-center">Express Playground Router</h1>
		<Form />
		<Result />
	</main>
	
	<script>
		const input = document.querySelector('#version');
		let pathToRegexp;
		const versions = {
			// @ts-ignore
  			'0.1.x': import('path-to-regexp-0-1'),
  			'1.x': import('path-to-regexp-1'),
			'2.x': import('path-to-regexp-2'),
			'3.x': import('path-to-regexp-3'),
			'4.x': import('path-to-regexp-4'),
			'5.x': import('path-to-regexp-5'),
			'6.x': import('path-to-regexp-6'),
			'7.x': import('path-to-regexp-7'),
			'8.x': import('path-to-regexp-8'),
		}
		console.log(input.value)
		import { match } from 'path-to-regexp-8';
		const fn = match("/*splat");

		console.log(fn("/bar/baz"))
	</script>
</Layout>