<form class="flex gap-4">
    <div>
        <label for="version">Version</label>
        <select id="version">
            <option value="0.1.x">0.1.x (express v4)</option>
            <option value="1.x">1.x</option>
            <option value="2.x">2.x</option>
            <option value="3.x">3.x</option>
            <option value="4.x">4.x</option>
            <option value="5.x">5.x</option>
            <option value="6.x">6.x</option>
            <option value="7.x">7.x</option>
            <option value="8.x">8.x (express v5)</option>
        </select>
    </div>
    <div>
        <label for="splat">Route</label>
        <input type="text" id="splat" name="route" placeholder="*"/>
    </div>
    <div>
        <label for="path">Path</label>
        <input type="text" id="path" name="path" placeholder="/foo/bar/baz" />
    </div>
</form>

<style>
    div {
        @apply flex flex-col gap-2
    }

    label {
        @apply font-bold text-lg
    }
</style>